<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Startup Updates</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add.css') }}">
</head>

<body>

    <!-- Navbar -->
    <nav id="navbar">
        <div class="container-add bb2sw">
            <div id="logo">
                <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="">
                <h2>Venture Up</h2>
            </div>
            <div class="menu-bar">
                <ul class="nav-ul">
                    <li class="nav-item active"><a class="primary-a" href="./index.html">Home</a></li>
                    <li class="nav-item"><a class="primary-a" href="{{ url_for('startup.startup_home') }}">Startups</a></li>
                    <li class="nav-item"><a class="primary-a" href="/">Blog</a>
                        <div class="sub-menu-1">
                            <ul>
                                <li><a href="./Blog-form.html" target="_blank">Create BLog</a></li>
                                <li><a href="./Blog-Page.html" target="_blank">Blogs</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a class="primary-a" href="./index.html#About">About</a></li>
                    <li class="nav-item"><a class="primary-a fixed" href="./index.html#Contact">Contact</a></li>
                </ul>
            </div>
            <ul class="notification-section">
                <li><a href="./Notification.html" class="Bell-icon-a"><img src="{{ url_for('static', filename='img/bell-icon.webp') }}" alt="" class="Bell-icon"></a></li>
            </ul>
            <div class="login">
                <a href="" id="Log-in">Log In</a>
                <button class="Register">Register</button>
            </div>
        </div>
    </nav>

    <section id="Blog">
        <form action="{{ url_for('startup.add_blog') }}" method="post">
        <h1 class="text-white">Write Startup Updates</h1>
        <form class="Blog-container">
            <h4 class="Blog-Title Blog-hw text-white">Title:</h4>
            <input type="text" class="Blog-Text Blog-iw" name="title" id="Blog-Text">
            <h5 class="Blog-Content-input Blog-hw text-white">Content:</h5>
            <textarea name="content" id="Blog-Content-input" cols="30" rows="10"></textarea>
            <div class="Buttons-sc">
                <button type="submit" class="Blog-scb">Submit</button>
            </div>
        </form>
        </form>
    </section>

    <section class="contact">
        <h6>&#169 by Company Name. All Rights Reserved</h6>
    </section>

    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
</body>

</html>