<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">


<form action="{{ url_for('auth.register') }}" method="post" enctype="multipart/form-data">

    <h1>Mentor Info</h1>

    <fieldset>
        <label for="domain">Domain:</label>
        <select id="domain">
            <option value="test">Test</option>
        </select>
    </fieldset>

    <fieldset>
        <label for="pfp">Founder Profile Picture</label>
        <input type="file" id="pfp" name="mentor_pfp" required>

        <label for="name">Name:</label>
        <input type="text" id="name" name="mentor_name" value="{{ user['name'] }}" readonly>

        <label for="twitter">Twitter:</label>
        <input type="text" id="twitter" name="twitter" required>

        <label for="linkedin">LinkedIn:</label>
        <input type="text" id="linkedin" name="linkedin" required>
    </fieldset>

    <button type="submit">Submit</button>
</form>
